.cover__subtitle {
    width: 360px;
    height: 66px;
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    margin-top: 32px;
    margin-bottom: 0;
    text-align: center;
    color: #FFFFFF; 
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
    }  
