.footer__copyright {
    display: flex;
    justify-content: end;
    width: 50%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    outline: rgb(70, 57, 114) solid 3px;
    text-align: right;
    
    color: #FFFFFF; 
}