.cover__background {











    
/* position: absolute;
width: 1184px;
height: 740px;
background-image: url("../../../images/cover-trains.jpg");
}
.cover__background::before {
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute; */
}