.lead__coption {
    width: 100%;
    height: 14px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
}