.place {
    position: relative;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr 460px;
    column-gap: 40px;
    row-gap: 48px;
    /* outline: orangered solid 1px; */

}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-template-rows: 1fr 440px;
    }
    }

    @media screen and (max-width: 768px) {
        .place {
            grid-template-columns: 340px 1fr;
            grid-template-rows: 1fr 340px;
        }
    }
        @media screen and (max-width: 320px) {
            .place {
                grid-template-columns: repeat(auto-fill, 320px);
            }
        }

        
            
        
    
   
   
   
   

















    
   
    

